.footerBar {
    position: fixed;
    overflow: hidden;
    padding: 0 24px;
    bottom: 0;
    width: 100%;
    min-height: 35px;
    /* display: flex; */
    background-color: #E7CACF;
    align-items: center;
    justify-content: flex-end;
}

.footerButton {
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    padding: 5px 15px;
    background-color: #3c1b21;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.footerButton:hover {
    background-color: rgba(60, 27, 35, 0.);
}


/* .footerBar {
    position:fixed;
    overflow:hidden;
    padding:0 24px;
    bottom: 0;
    width:100%;
    min-height: 35px;
    display: flex;
    background-color: #E7CACF;
    align-items:center;
    justify-content:end;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #e7cacf;
}

li {
  float: left;
  margin-top: 40px;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 2px 2px;
  text-decoration: none;
  font-size: 30px;
  font-weight: bold;
  font-family: roboto;
} */