* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    color: black;
    text-decoration: none;
}

.topNavBar {
    background-color: #E7CACF;
    overflow: hidden;
    min-height: 70px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 24px;
}

.nav_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.nav_icon {
    font-size: 2rem;
    margin-right: auto;
}

.nav_link {
    transition: 0.7s ease;
}

.nav_link:hover {
    color: white;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: black;
}

@media(max-width:2000px) {
    .hamburger {
        display: block;
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav_menu {
        position: absolute;
        Left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: #e4cdd1;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }
    .nav_item {
        margin: 16px 0;
    }
    .nav_menu.active {
        Left: 0;
    }
}